/* Container for the entire training section */
.training-section-container {
    max-width: 1450px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Training Section */
.training-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.training-section p {
    text-align: justify;
    margin-bottom: 20px;
}

/* Training plan image styling */
.training-plan-image-container {
    text-align: center;
}

.training-plan-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Download button */
.download-button-container {
    text-align: center;
    margin-top: 20px;
}

.download-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #45a049;
}

/* Video Section */
.video-section {
    margin-top: 40px;
}

.video-section h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* Centering the YouTube video */
.training-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Progress Bar */
.progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 10px;
    height: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.3s ease;
}
