/*Athlete profiles section */
.athlete-profiles {
    padding: 40px 20px;
    background: none; /* remove the container background */
    text-align: center; /* Center the title */
}

.athlete-profiles h2 {
    color: #333;
    margin-bottom: 40px;
    font-size: 2rem;
}

/* Athlete profile container*/
.athlete-profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Space between cards */
}

/* Profile card styling */
.profile-card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /*add a shadow */
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
    text-align: center;
}

/*hover effect to lift the card  */
.profile-card:hover {
    transform: translateY(-10px); /* Lift the card on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); /* darker shadow on hover */
}

/* profile image styling */
.profile-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Athlete name styling */
.profile-card h3 {
    color: green;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* specialisation and achievements styling */
.profile-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
}

.profile-card h4 {
    color: #333;
    margin-top: 20px;
}

.profile-card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}
