/* Sponsor highlights section styling */
.sponsor-highlights {
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 1450px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /*subtle shadow */
}

.sponsor-highlights h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.sponsor-container {
    text-align: center;
}

/* Sponsor details */
.sponsor-details h3 {
    margin-bottom: 10px;
    color: #555;
}

.sponsor-details p {
    margin-bottom: 15px;
    color: #666;
}

.sponsor-details ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.sponsor-details li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.sponsor-details li strong {
    color: green;
    cursor: pointer;
}

.sponsor-details li p {
    margin-top: 5px;
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

/* Sponsor logos */
.sponsor-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.sponsor-logos a {
    margin: 10px;
    display: block;
}

.sponsor-logos img {
    width: 320px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /*logo shadow */
    transition: transform 0.2s ease-in-out;
}

.sponsor-logos img:hover {
    transform: scale(1.05); /*slight zoom on hover */
}
