/* General header styling */
.header {
    background: #231f1f;
    color: white;
    padding: 1rem;
}

/* Flexbox layout for logo, navigation, and search */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px;
    margin: auto;
}

/* Logo styling */
.logo-container {
    flex: 1;
}

.logo {
    max-height: 50px;
    width: auto;
}

/* Navigation styling */
.nav-links {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem; /* Spacing between the links */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1rem;
}

/* Search bar dropdown container */
.search-dropdown-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Aligns search button to the right */
}

.search-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

/* Dropdown search bar styles */
.search-bar-dropdown {
    position: absolute;
    top: 40px; /* Space from the search button */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    width: 250px;
    z-index: 1000;
}

/* Search input styling inside the dropdown */
.search-input {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: white;
}

/* Search results dropdown */
.search-results {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 150px;
    overflow-y: auto;
}

.search-results li {
    padding: 0.5rem;
}

.search-results li a {
    color: black;
    text-decoration: none;
    display: block;
}

.search-results li a:hover {
    background-color: #eee;
}

.error-message {
    color: red;
    margin-top: 0.5rem;
}
