/* Footer container */
.footer-container {
    background-color: #231f1f; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Footer content */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer links */
.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #0dcc06; /* Add a green color for links */
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

/*Social icons*/
.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0dcc06; /*Change icon color on hover */
}

/* Responsive design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
